.main-header {
  background-color: var(--c-primary);
  color: var(--c-secondary);
}

.main-header .container {
  height: 100%;
}

.main-header .mobile-nav {
  display: none;
}

.main-header .mobile-nav .search-btn {
  background-color: var(--c-secondary);
  padding: 1rem;
  border-radius: var(--border-r-50);
}

.main-header .mobile-nav .search-btn img {
  width: 1.5rem;
}

.main-header .mobile-nav .search-btn input {
  display: none;
}

@media (max-width: 768px) {
  .main-header .container {
    font-size: var(--fs-sm);
    padding-block: 0.5rem;
  }

  .main-header .mobile-nav {
    display: flex;
    padding-block: 1rem;
    position: relative;
    overflow: hidden;
  }

  .main-header .mobile-nav .search-btn input {
    display: block;
    position: absolute;
    left: 50%;
    top: -50%;
    transform: translate(-50%, -50%);

    background-color: #eaeaea;
    border-radius: var(--border-r-md);
    border: 1px solid var(--c-primary);
    outline: none;
    height: 4rem;
    width: 65vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline-start: 2rem;
    font-size: var(--fs-md);

    transition: all 0.3s ease-in;
  }

  .main-header .mobile-nav .search-btn input.active {
    top: 50%;
  }
}
