:root {
  --c-primary: #273d5d;
  --c-secondary: #d9904e;
  --c-black: #3d3d3d;
  --c-white: #fff;

  --fs-xlg: 2.2rem;
  --fs-lg: 1.8rem;
  --fs-md: 1.6rem;
  --fs-sm: 1.4rem;

  --ff: 'Roboto', sans-serif;

  --border-r-s: 0.4rem;
  --border-r-md: 0.7rem;
  --border-r-lg: 1.2rem;
  --border-r-50: 50%;
}

html {
  font-size: 10px;
}

.container {
  padding-inline: 1.5rem;
  margin-inline: auto;
}

body {
  position: relative;
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

body {
  font-family: var(--ff);
  font-size: var(--fs-md);
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex-between {
  justify-content: space-between;
  align-items: center;
}

.drop-down-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -300px;
  background: var(--c-secondary);
  color: var(--c-primary);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.drop-down-menu.active {
  top: 20px;
  opacity: 1;
}
.drop-down-menu li {
  padding: 0.5rem 1rem;
}
.drop-down-menu li:not(:last-of-type) {
  border-bottom: 1px solid black;
}
